.header__logo {
    margin: 0px auto 38px 0px;
    background-color: black;
}

@media (max-width: 540px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin: 28px auto 32px 27px;
    }
}