.popup__button-submit_inactive {
    color: #000000;
    border: 1px solid #000000;
border-radius: 2px;
    background: #EDEDED;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.2;
}