.popup__button-submit {
    width: 358px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    border-radius: 2px;
    background-color: black;
    margin: 18px 0px 36px;
}

.popup__button-submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 540px) {
    .popup__button-submit {
        width: 238px;
        height: 46px;
        margin: 14px 0px 25px;
        font-size: 14px;
        line-height: 17px;
    }
}